/JavaApplication23/nbproject/private/
/test/nbproject/private/
/Ktra_m1c/nbproject/private/
/Ktra_m1c/build/
/Mang2c/nbproject/private/
/Mang2c/build/
/Student/nbproject/private/
/Student/build/
/BaiTapSlide7/nbproject/private/
/BaiTapSlide7/build/
/SoNguyenTo/nbproject/private/
/SoNguyenTo/build/
/Exercises1/nbproject/private/
/Exercises1/build/
/Sincos/nbproject/private/